:root {
    --main-color: #ABACB2;
    --button-color: #3D8168;
    --secondary-color: #9FA2A9;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3EAE3;
}

.product-container{
    padding: 20px;
}

.product-container .product-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffff;
}



.product-image-mobile{
    max-width: 100%;
    border-radius: 10px 10px 0 0; 
}

.product-image-desktop{
    display: none;
}

.product-info{
    padding: 15px 25px;
}

.product-info span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--button-color);
}

.product-info h1{
    line-height: 0.9em;
    margin: 15px 0;
}

.product-info p{
    color: var(--secondary-color);
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.product-info h2{
    font-size: 30px;
    margin: 20px 0;
    color: var(--button-color);
    font-weight: 900;
    align-items: center;
    display: flex;
    gap: 20px;
   
}

.product-info h2 span{
    text-decoration: line-through;
    color: var(--secondary-color);
}

.product-info button{
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--button-color);
    width: 100%;
    padding: 15px 10px;
    color: #ffff;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

@media (min-width: 726px) and (max-width: 1440px) {
    .product-container .product-wrapper{
        display: flex;
        margin-top: 100px;
    }

    .product-image-desktop{
        display: grid;
        width: 100%;
        border-radius: 10px 0 0 10px;  
    }

    .product-image-mobile{
        display: none;
    }
}


@media (min-width: 1441px) and (max-width: 1990px){
    .product-container{
        width: 40%; 
        margin: auto;
        margin-top: 100px;
        padding: 0;
    }
    .product-container .product-wrapper{
        display: flex;
    }

    .product-image-desktop{
        display: grid;
        width: 100%;
        border-radius: 10px 0 0 10px;  
    }

    .product-info{
        padding: 0 25px;
    }

    .product-image-mobile{
        display: none;
    }

    .product-info button{
        width: 100%;
        padding: 10px 5px;
      
    }
}
